[submodule "frontend"]
        path = frontend
        url = https://github.com/thanhltkk24414-lang/blockchain-frontend.git
[submodule "contracts"]
        path = contracts
        url = https://github.com/thanhltkk24414-lang/blockchain-contracts.git
[submodule "backend"]
        path = backend
        url = https://github.com/thanhltkk24414-lang/blockchain-backend.git
[submodule "docs"]
        path = docs
        url = https://github.com/thanhltkk24414-lang/Blockchain-docs.git